.nav-wrapper {
  display: flex;
  gap: 25px;
}

.loginForm {
  width: 50%;
  margin: 50px auto;
}

.loginForm .loginButton {
  text-align: center;
}

.loginError {
  text-align: center;
  color: red;
  display: flex;
  gap: 25px;
  justify-content: center;
  padding: 15px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  z-index: 9000;
}

.page-content {
  margin-top: 50px;
}
