.nav-wrapper {
  display: flex;
  gap: 25px;
}

.loginForm {
  width: 50%;
  margin: 50px auto;
}

.loginForm .loginButton {
  text-align: center;
}

.loginError {
  text-align: center;
  color: red;
}
